body {
  margin: 0;
}
/* photos */
#banner {
  background: black;
  font-size: 1em;
  color: white;
  padding: 5px 10px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
#gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
#gallery .image-container {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#gallery .image-container + .image-container {
  margin-left: 0.5%;
}
#gallery .image-container img {
  width: 100%;
}
/* tic tac toe */
#game-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid #777777;
  width: 300px;
  height: 300px;
  background: black;
  margin: 50px auto;
}
#game-grid .row {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#game-grid .row + .row {
  border-top: 1px solid #777777;
}
#game-grid .square {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}
#game-grid .square + .square {
  border-left: 1px solid #777777;
}
#game-grid .square.empty:hover {
  opacity: 0.9;
}
#game-grid .mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* nabbed from https://codepen.io/desandro/pen/jEgvpo */
#game-grid .mark svg {
  width: 100%;
}
#game-grid .mark .x,
#game-grid .mark .o {
  stroke: black;
  fill: transparent;
  stroke-linecap: round;
  stroke-width: 4;
}
@media screen and (max-width: 600px) {
  #banner {
    padding: 20px;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  #gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  #gallery .image-container {
    text-align: center;
  }
  #gallery .image-container + .image-container {
    margin-left: 0px;
  }
  #gallery .image-container img {
    width: auto;
    height: 100%;
  }
}
